/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-green: 183 77% 36%;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;

    padding: 0;
    color: hsl( var(--clr-white) ); 
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-400: 1.125rem;
    }
}


/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* ------------------- */
/* Compontents         */
/* ------------------- */
.test {
    border:1px solid red;
}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

a {
    color:inherit;
}

a:hover {
    color:#0fa968;
}

.flip-img {
    transform: scalex(-1);
 }

.home {
    display:grid;
    /*background-color: #effef7;*/
    background: linear-gradient(#effef7, #b8fadd);
    color:#11563a;
    align-content: center;
    grid-template: 
    ". intro ." auto 
    ". expertise ." auto 
    ". content ." auto 
    / 1fr minmax(600px, 900px) 1fr;
    margin-top:100px;
    overflow-x: hidden;
}

.intro{
    grid-area: intro;
    display:grid;
    grid-template: 
    "picture data" auto     
    / 1fr 2fr;
    
    font-family: var(--ff-sans-normal);
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.intro-picture {
    grid-area: picture;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.intro-picture > img {
    max-width: 300px;
}

.intro-data{
    grid-area: data;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.name {
    font-size: 80px;
    margin-left:-6px;
    color:#25cb86;
    font-weight: 600;
    font-family: var(--ff-sans-normal);
}

.position {
    font-size: var(--fs-600);
}

.intro-data{
    font-size: var(--fs-400);
}

.data-contact {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pair {
    display: grid;
    grid-template: 
    "label description" auto     
    / 1fr 3fr;
}

.contact-label {
    grid-area: label;
    color:rgb(37, 203, 134);
    font-family: var(--ff-sans-normal);
}

.contact-description{
    grid-area: description;
    margin-top: -3px;
}

.claim {
    font-size: var(--fs-600);
    margin-top:.5em;
    text-align: center;
    max-width: 520px;
}

.cv{
    grid-area: content;
    display:grid;
    margin-top: 30px;
}

.expertise{
    grid-area: expertise;
    margin-top: 80px;
    margin-bottom: 50px;
}

.title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-700);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.expertise-list {
    margin:0;
    padding:0;
}

.expertise li {
    list-style: none;
    position: relative;
    padding-bottom: 10px;

}

.expertise-item{
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    margin-bottom: 5px;
    font-weight: 600;
}

.expertise-score-holder{
    height: 12px;
    width: 100%;
    background: rgba(37, 203, 134, 0.1);
    padding: 0px;
    position: relative;
    border-radius: 5px;
}

.expertise-score{
    height: 12px;
    background: rgba(37, 203, 134, 1);
    padding: 0px !important;
    left: 0px;
    position: absolute;
    border-radius: 5px;
}

.score-90 {
    width: 90%;
}

.score-95 {
    width: 95%;
}

.score-75 {
    width: 75%;
}

.score-80 {
    width: 80%;
}

.history-item {
    list-style: none;
    position: relative;
    padding-left: 50px;
    padding-bottom: 100px;
}

.history-item:not(:last-of-type):before {
    background-color: #0fa968;
    content: "";
    height: 100%;
    left: 4px;
    position: absolute;
    top: 30px;
    width: 1px;
}

.history-item:after {
    background-color: #0fa968;
    border: 2px solid #0fa968;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    flex-shrink: 0;
    height: 8px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 8px;
}

.timeline-item {
    padding-bottom: 50px;
}

.timeline-item:last-child{
    margin-bottom: 100px;
}

.company {
    font-size: var(--fs-600);
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: -7px;
}

.duration {
    font-size: var(--fs-400);
    font-family: var(--ff-sans-normal);
    color:#0fa968;
    position: relative;
    left: -157px;
    top: 25px;
    z-index: -1;
}

.clients {
    font-size: var(--fs-500);
    font-family: var(--ff-sans-normal);
    margin-top: 20px;
    border-bottom: 1px solid rgba(17, 86, 58, 0.5);
    padding-bottom: 35px;
    margin-bottom: 10px;
}
.clients > span{
    font-family: var(--ff-sans-normal);
    font-weight: 600;
}

.tech-list{
    display:flex;
    justify-content: left;
    margin-top: 20px;
    flex-wrap: wrap;
}

.tech {
    font-family: var(--ff-sans-cond);
    background-color:#25cb86;
    color:white;
    font-size:var(--fs-300);
    padding:10px 20px;
    margin-right:10px;
    border-radius: 1em;
    margin-top:1em;
}

.rol-label {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-400);
}

.rol-description {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
}

.tooltip {
    display: none;
    position: absolute;
    top:50px;
    left:50px;
    background-color:white;
    border-radius:10px;
    font-family: var(--ff-sans-normal);
    width: 200px;
    height: 240px;
    z-index:1000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: perspective(1500px) rotateY(0deg) rotateX(0deg);
    pointer-events: none;
}

#tooltip-description{
    margin-left: 10px;
    margin-top: 5px;
}

.tooltip-image {
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tooltip-wedge {
    position: absolute;
    top: 236px;
    left: 30px;
    z-index: -1;
}


@media (max-width: 1065px) {
    .home {
        grid-template: 
        ". intro ." auto 
        ". expertise ." auto 
        ". content ." auto 
        / 1fr minmax(500px, 700px) 1fr;
        margin-top:20px;
    }

    .intro {
        grid-template: 
        "picture" auto     
        "data" auto     
        / 1fr;  
    }

    .intro-picture{
        margin:auto;
    }

    .intro-data{
        margin:0;
    }

    .data-main{
        text-align: center;
    }

    .data-contact{
        margin-left: 50px;
        margin-right: 50px;
    }
  }

  @media (max-width: 862px) {
    .home {
        grid-template: 
        ". intro ." auto 
        ". expertise ." auto 
        ". content ." auto 
        / 1fr minmax(300px, 600px) 1fr;
        margin-top:20px;
    }

    .duration {
        left:0px;
    }

    .company{
        margin-top: 33px;
    }

    .history-list{
        margin:0px;
        padding:0px;
    }

    .history-item{
        padding-left: 30px;
        padding-bottom: 40px;
    }

 }

 @media (max-width: 620px) {

    .home {
        grid-template: 
        ". intro ." auto 
        ". expertise ." auto 
        ". content ." auto 
        / 1fr minmax(300px, 480px) 1fr;
        margin-top:20px;
    }

    .data-contact{
        margin-left: 0px;
        margin-right: 0px;
    }
 }

 @media (max-width: 420px) {

    .home {
        grid-template: 
        ". intro ." auto 
        ". expertise ." auto 
        ". content ." auto 
        / 1fr minmax(300px, 320px) 1fr;
        margin-top:20px;
    }

    .intro {
        padding:1em;
    }

    .intro-picture > img {
        max-width: 260px;
    }

    .name {
        font-size: var(--fs-800);
    }
    
 }